.dashboard-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #2c3e50;
  color: #ecf0f1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-header {
  padding: 20px;
  font-size: 1.5em;
  text-align: center;
  background-color: #1abc9c;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  padding: 15px 20px;
  cursor: pointer;
}

.sidebar-menu li.active,
.sidebar-menu li:hover {
  background-color: #34495e;
}

.logout {
  padding: 20px;
  text-align: center;
}

.logout button {
  background-color: #e74c3c;
  color: #ecf0f1;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.logout button:hover {
  background-color: #c0392b;
}

.main-content {
  flex-grow: 1;
  background-color: #ecf0f1;
  display: flex;
  flex-direction: column;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
}

.user-info {
  text-align: right;
  display: flex;
  flex-direction: column;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.dashboard-item {
  background-color: #fff;
  padding: 40px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.dashboard-item:hover {
  background-color: #1abc9c;
  color: #fff;
}

/* welcome*/
.welcome-page {
  display: flex;
  height: 100vh;
}

.welcome-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}