body {
    font-family: Arial, sans-serif;
  }
  
  .dashboard-container {
    display: flex;
    height: 710px;
  }
  
  .sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 15px;
  }
  
  .sidebar h2 {
    text-align: center;
  }
  
  .sidebar ul {
    list-style-type: none;
  }
  
  .sidebar ul li {
    margin: 10px 0;
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
  }
  
  .logout {
    width: 100%;
    padding: 10px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .main-content {
    flex-grow: 1;
    padding: 20px;
  }
  
  .dashboard-icons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .icon {
    width: 100px;
    text-align: center;
  }
  
  .icon img {
    width: 100%;
  }
  
  .icon p {
    margin-top: 5px;
  }

  .dashboard-header {
    display: flex;
    align-items: center;
  }
  
  .dashboard-header h1 {
    margin-right: 20px; /* Adjust margin as needed */
  }
  
  .search-profile-container {
    display: flex;
    align-items: center;
  }
  
  .search-bar-container {
    display: flex;
    align-items: center;
    margin-right: 10px; /* Adjust margin as needed */
  }
  
  .search-bar {
    margin-left: 100px; /* Adjust margin as needed */
  }
  
  .search-button {
    margin-left: 10px; /* Adjust margin as needed */
  }
  
  .profile-container {
    display: flex;
    align-items: center;
  }
  
  .profile-avatar {
    margin-right: 10px; /* Adjust margin as needed */
  }
  
  