.sidebar {
  position: fixed; /* Change to fixed or absolute based on your layout needs */
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #0F72D7;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensure space between logo and logout button */
  padding: 20px;
  overflow-y: hidden; /* Change to hidden to remove the scrollbar */
  z-index: 1; /* Ensure sidebar is above content */
}

.sidebar .logo {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.sidebar .logo img {
  width: 100%; /* Adjust logo size as needed */
  max-width: 100%; /* Ensure logo does not exceed its container */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin-top: 5px; /* Add margin to separate logo from list items */
}

.sidebar ul li {
  margin: 15px 0; /* Adjust spacing between list items */
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
  background-color: #004d95;
}

.logout {
  width: 100%;
  padding: 10px;
  background-color: #404040;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 50px;
}

.logout:hover {
  background-color: #e04444;
}
